// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.empty-cart {
  display: inline-block;
  margin-left: 350px;
  color: red;
  font-size: 25px;
}
